body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  min-height: 100vh;
  animation: fadeIn 1s ease-in;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("background.jpg");
  background-size: cover;
  background-position: center;
}

/* Fade animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Header */
.header {
  padding: 10px;
}

.logo {
  width: 120px;
  border-radius: 50%;
  margin-top: 30px;   /* increase to move down */
  margin-bottom: 10px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 16px;
}


/* Container */
.container {
  padding: 20px;
  padding-bottom: 70px; /* prevent footer overlap */
}

/* Grid Layout */
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

/* Buttons Base */
.btn {
  padding: 14px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

/* Hover Effect */
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

/* Colors */
.sos-btn { background: red; }
.map-btn { background: #2196f3; }
.aid-btn { background: green; }
.family-btn { background: purple; }
.traffic-btn { background: orange; }
.chat-btn { background: teal; }
.hospital-btn {
  background: linear-gradient(45deg, #ff5722, #ff8a65);
}


/* SOS Pulse Animation */
.sos-btn {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(255,0,0,0.7); }
  70% { box-shadow: 0 0 0 20px rgba(255,0,0,0); }
  100% { box-shadow: 0 0 0 0 rgba(255,0,0,0); }
}

.chat-box {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 20px;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.chat-box.active {
  display: block;
}



.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(255,255,255,0.2);
  letter-spacing: 0.5px;
  transition: 0.3s;
}

/* Hover Glow */
.footer:hover {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 -2px 15px rgba(255,255,255,0.2);
}


/* Mobile Responsive */
@media (max-width: 600px) {
  .button-grid {
    grid-template-columns: 1fr;
  }
}
